@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'SourceCodePro', monospace;
    color: #fff;
}
.wrapper{
    background: linear-gradient(0deg,rgba(8, 1, 41, 1) 0%, rgba(1, 22, 87, 1) 100%);
    width: 100%;
    height: 730px;
    
}

.logo{
    font-weight: 800;
    margin-left: 100px;
    padding-top: 50px;
    font-size: 50px;
}
.container{
    margin-left: 650px;
    margin-top: 100px;
    font-size: 30px;
    height: 400px;
    width: 200px;
}
.container h2{
    padding-bottom: 20px;
    padding-left: 50px;
    font-weight: 400;
}
.auth-form{
    font-size: 25px;
    font-weight: 400;
}
.auth-form button{
    margin-left: 40px;
    margin-top: 20px;
    font-size: 25px;
    color: #fff;
    width: 120px;
    background: transparent;
    border-color: #fff;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.auth-form input{
    font-size: 25px;
    width: 200px;
}